.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--ui-spacing-1);
}

.inputSection {
  width: 100%;
  margin-bottom: var(--ui-spacing-2);
}

.analysisSection {
  width: calc(40% - var(--ui-spacing-2) / 2);
}

.conversionSection {
  width: calc(60% - var(--ui-spacing-2) / 2);
}

@media (max-width: 880px) {
  .analysisSection,
  .conversionSection {
    width: 100%;
  }
  .analysisSection {
    margin-bottom: var(--ui-spacing-2);
  }
}
